pagination-controls {
	padding: 15px;
	text-align: center;
	margin-bottom: 35px;

	.ngx-pagination {
	  margin-left: 0;
	  margin-bottom: 1rem;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  &::before {
	    content: ' ';
	    display: table;
	  }
	  &::after {
	    content: ' ';
	    display: table;
	    clear: both;
	  }
	  li {
	    -moz-user-select: none;
	    -webkit-user-select: none;
	    -ms-user-select: none;
	    margin-right: 0;
	    border-radius: 0;
	    display: inline-block;
	    // padding: 14px !important;
	    border: 1px solid #ddd;
	    &:hover{
	    	background: lighten($bt-red, 5%);
	    	a{
	    		color: white;
	    	}
	    }
	  }
	  a, button {
	    color: #0a0a0a;
	    display: block;
	    padding: 1.25rem 1.35rem;
	    border-radius: 0;
	    text-decoration: none;
	  }
	  a:hover, button:hover {
	    background: transparent;
	  }
	  .current {
	    // padding: 0.1875rem 0.625rem;
	    padding: 1.25rem;
	    background: $bt-red;
	    color: #fefefe;
	    cursor: default;
	  }
	  .disabled {
	    padding: 1.25rem;
	    // padding: 0.1875rem 0.625rem;
	    color: #cacaca;
	    cursor: default;
	    &:hover {
	      background: transparent;
	    }
	  }
	  .ellipsis::after {
	    content: '…';
	    padding: 0.1875rem 0.625rem;
	    color: #0a0a0a;
	  }
	  a, button {
	    cursor: pointer;
	  }
	  .pagination-previous {
	    a::before, &.disabled::before {
	      content: '';
	      display: none;
	      margin-right: 0;
	    }
	  }
	  .pagination-next {
	    a::after, &.disabled::after {
	      content: '';
	      display: none;
	      margin-left: 0;
	    }
	  }
	  .show-for-sr {
	    position: absolute !important;
	    width: 1px;
	    height: 1px;
	    overflow: hidden;
	    clip: rect(0, 0, 0, 0);
	  }
	}
}
// .ngx-pagination li {
// 	padding: 14px !important;
// 	a {
// 		color: $bt-blue !important;
// 	}
// 	a:hover, button:hover {
// 		background: transparent;
// 	}
// }
// .ngx-pagination .current {
// 	background: transparent !important;
// 	// opacity: 0.45;
// 	color: #cacaca !important;
// }

