page-stock {
	.header-secondary .sku-menu {
		display: flex;
		align-items: center;
	}
	.buttons-right {
		white-space: nowrap;
		font-size: 12px;
		li {
			border-left: 1px solid #ddd;
			a {
				padding: 0 15px;
			}
		}
	}
	.current-user {
		display: none;
		&.visible {
			display: inline-block;
		}
		color: $alert-green;
		font-weight: bold;
		background: transparent;
		border: 1px solid $alert-green;
	}
	// .tabular {
	// 	.t-price {
	// 		text-align: right;
	// 		padding-right: 15px;
	// 	}
	// 	.price {
	// 		text-align: center;
	// 	}
	// }
	.tabular{
		font-size: 12px;
		.t-hsn{
			text-align: center;
			.item-md{
				padding: 0;
			}
			.item-block{
				min-height: 3.4rem;
			}
			input{
				font-size: 13px;
				margin: 8px;
			}
		}

		&__row.open{
			// flex-wrap: nowrap;
		}
	}
	@media screen and (min-width: 768px) {
		.t-price {
			// padding-left: 20px;
		}
		.tabular {
			&__row{
				&.open{
					background-color: $alert-yellow;
				}
			}
		}
	}
	@media screen and (max-width: 767px) {
		.content-md {
			background: $bt-grey;
		}
		.filters {
			margin: 0 -15px;
			margin-bottom: 15px;
		}
		// tabular
		.tabular {
			&__row {
				padding-bottom: 0;
				@media (min-width: 768px) {
					margin-left: -15px;
					margin-right: -15px;
				}
			}
			.t-product {
				width: 100%;
				order: 1;
			}
			.t-ship, .t-sellable, .t-alias, .t-seller, .t-channel, .t-hsn{
				display: none;
			}
			.t-ship {
				order: 4;
				width: 50%;
				text-align: left;
				// height: 52px;
				padding-top: 15px;
			}
			.t-sellable{
				order: 3;
				width: 50%;
				padding-top: 15px;
			}
			.t-alias {
				order: 2;
				width: 50%;
				padding-top: 15px;
			}
			.t-seller {
				order: 3;
				width: 17%;
				padding-top: 15px;
			}
			.t-channel {
				order: 5;
				width: 50%;
				padding-top: 15px;
			}
			.t-hsn{
				order: 6;
				width: 50%;
				padding-top: 15px;
				text-align: left;
			}



			.open {
				z-index: 20;
				position: fixed;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: 0;
				padding: 63px 0 0 0;
				align-content: flex-start;
				.pricer-count__legend {
					display: block;
					opacity: 0.45;
					font-size: 12px;
					margin-top: 4px;
				}
				.tabular-mob-header {
					display: block;
				}
				.t-ship, .t-sellable, .t-alias, .t-seller, .t-channel, .t-hsn{
					padding: 15px 15px 0;
					display: block;
				}
				.t-hsn{
					display: flex;
					flex-wrap: wrap;
					.visible-xs{
						width: 100%;
					}
					.item-block{
						width: auto;
					}
				}
				.tabular-mob-header {
					position: fixed;
					left: 0;
					top: 0;
					right: 0;
					height: 47px;
					padding: 0 15px;
				}
				.t-product {
					padding: 0 15px;
					height: auto;
				}
				.t-price {
					width: 63%;
					height: auto;
					padding-right: 15px;
				}
				.t-seller {
				}
				.t-rule {}
				.t-listing {
					width: 20%;
					padding-left: 15px;
				}
				.t-battler {
					display: block;
					padding: 15px;
				}
			}
		}
		.mobile-title{
			display: block;
			margin-bottom: 5px;
		}
	}

	a{
		cursor: pointer;
	}
	p{
		margin: 0 0 10px;
	}

	.sku{
		padding: 2px 4px;
		// font-weight: 700;
		a{
			color: white;
			text-decoration: none;
		}
	}

	.custom_code_black{
		background-color: black;
		border-radius: 10px;
		color: #fff;
		text-align: center;
		// font-size: 14px;
		font-weight: bold;
		display: inline-block;
		padding: 4px 10px;
		text-decoration: none;
	}

	.bundle_sku {
	    border-radius: 0px 10px 10px 0px;
	    background-color: black;
	    color: #fff;
	    text-align: center;
	    // font-size: 14px;
	    font-weight: bold;
	    display: inline-block;
	    padding: 4px 10px;
		text-decoration: none;
	}

	.custom_code_yellow {
	    z-index: 10;
	    background-color: darken($star-yellow, 5%);
	    border-radius: 10px 0px 0px 10px;
	    color: #fff;
	    text-align: center;
	    // font-size: 14px;
	    font-weight: bold;
	    display: inline-block;
	    padding: 4px 8px;
	    margin-right: -3px;
	}

	.prod-title{
		display: block;
		text-decoration: none;
		font-size: 13px;
		margin-top: 5px;
	}

	.img-wrap {
		min-width: 110px;
		max-width: 110px;
		height: 110px;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		border: 1px solid $bt-grey;
		img {
			width: auto;
			height: 100%;
			margin: auto;
			display: block;
		}
	}

	.status-dot{
		position: relative;
		top: 2px;
		left: 5px;
	}

	.bundle-link{
		border-bottom-style: dotted;
		border-bottom-width: 1px;
		width: auto;
		color: gray;
	}

	.prod-family{
		font-size: 12px;
		span{
			font-weight: bold;
		}
	}

	.prod-action{
		display: block;
		color: darken($bt-grey, 50%);
		font-size: 11px;
		margin: 8px 0;
		text-decoration: none;
		&:hover{
			text-decoration: underline;
			color: darken($bt-grey, 80%);
		}
	}
	.sku-code{
		list-style-type: none;
		li{
			color: darken($bt-grey, 50%);
			font-size: 11px;
			margin-bottom: 5px;
		}
	}

	.sellable-summary{
		margin-bottom: 10px;
		ion-icon{
			font-size: 1.4em;
		}
	}

	.t-channel{
		ul{
			list-style-type: none;
			display: flex;
			flex-wrap: wrap;
		}
		li{
			padding: 3px 5px;
		}
		a{
			opacity: 1;
			&:hover{
				opacity: 1;
			}
		}
		.channelFaviconImageGreen, .channelFaviconImageRed{
			border-bottom: 2px solid $bt-green;
			width: 16px;
			padding-bottom: 3px;
			max-width: 100%;
			height: auto;
			display: block;
		}
		.channelFaviconImageRed{
			border-bottom: 2px solid $bt-red;
		}
		.disabled{
			opacity: 0.3;
		}
	}
}
