<!-- <ion-header>

  <ion-navbar>
    <ion-title>Stock</ion-title>
  </ion-navbar>

</ion-header> -->

<ion-content padding>

	<div class="container-fluid" padding-horizontal>

		<div class="header-main" padding-horizontal>
			<!-- Main Nav tabs -->
			<ul class="nav sku-menu sku-to-nav">
				<li class="visible-xs sku-menu__hb"> <ion-icon name="menu"></ion-icon></li>
				<li class="sku-menu__title hasub"><h1>Inventory</h1></li>
				<li class="sku-menu__wrap hidden-xs-inline-block">
					<ul class="sku-menu__full">
						<li><a>Stock</a></li>
						<li><a>Manage Stock</a></li>
						<li><a>Listing Watch</a></li>
					</ul>
				</li>
				<li class="sku-menu__logout">
				<button color="dark" ion-button icon-right small clear>
					  <ion-icon name="print"></ion-icon> Print SKU Barcodes
					</button>
				</li>
			</ul>
		</div>

		<div class="header-secondary replace-header">
			<ul class="nav sku-menu">
				<li (click)="goBack()" class="visible-xs sku-menu__hb"> <ion-icon name="ios-arrow-back"></ion-icon></li>
				<!-- <li class="pri-menu__title"><h2>Import product details from a CSV</h2></li> -->
				<li class="sku-menu__wrap inventory-tabs show-white">
					<ul class="sku-menu__full">
						<li [class.active]="statusTab.active.active"><a (click)="changeStockStatusTab('active')" class="">Active (1,066)</a></li>
						<li [class.active]="statusTab.to_ship.active"><a (click)="changeStockStatusTab('to_ship')" class="">To Ship (250)</a></li>
						<li [class.active]="statusTab.low_stock.active"><a (click)="changeStockStatusTab('low_stock')"  class="">Low Stock (15)</a></li>
						<li [class.active]="statusTab.stock_outs.active"><a (click)="changeStockStatusTab('stock_outs')"  class="">Stock-outs (783)</a></li>
						<li [class.active]="statusTab.bundles.active"><a (click)="changeStockStatusTab('bundles')"  class="">Bundles (0)</a></li>
						<li [class.active]="statusTab.all.active"><a (click)="changeStockStatusTab('all')"  class="">All (1,066)</a></li>
						<li [class.active]="statusTab.unlisted.active"><a (click)="changeStockStatusTab('unlisted')"  class="">Unlisted (5)</a></li>
						<li [class.active]="statusTab.archived.active"><a (click)="changeStockStatusTab('archived')"  class="">Archived (0)</a></li>
					</ul>
				</li>
				<li class="buttons-right hidden-xs">
					<ul class="sku-menu__full">
						<li><a>Update Channel - Sku Mapping</a></li>
					</ul>
				</li>
			</ul>
		</div>

		<div class="filters flex top">
			<div class="filters__multi">
				<ion-checkbox color="dark" no-padding></ion-checkbox>
				<span class="visible-xs-inline-block">Select All</span>
			</div>

			<button (click)="toggleFilterDisplay()" ion-button small clear no-margin class="filters__toggle">
				<ion-icon name="funnel" color="primary"></ion-icon>
				<span class="visible-xs-inline-block">Filters</span>
			</button>

			<div class="filters__btn-wrapper">
				<div class="bt-dropdown" [class.open]="filterOptions.selected.open">
					<!-- .... On click of this button, add class "open" to the parent div "bt-dropdown" .... -->
					<!-- .... just adding the class will show the dropdown .... -->
					<button (click)="toggleDrop('selected')" ion-button color="secondary" small outline no-margin class="bt-dropdown__btn button-drop">
						<span class="plusicon visible-xs-inline-block"></span> For Selected <ion-icon name="ios-arrow-down" class="hidden-xs icon-small"></ion-icon>
					</button>
					<div class="bt-dropdown__dd">
						<button ion-button color="dark" small clear no-margin block class="bt-dropdown__btn button-drop">Reset stock to..</button>
						<button ion-button color="dark" small clear no-margin block class="bt-dropdown__btn button-drop">Assign a Product Family</button>
						<button ion-button color="dark" small clear no-margin block class="bt-dropdown__btn button-drop">Add to basket</button>
						<div class="separator-h"></div>
						<button ion-button color="dark" small clear no-margin block class="bt-dropdown__btn button-drop">Archive SKUs</button>
						<button ion-button color="dark" small clear no-margin block class="bt-dropdown__btn button-drop">Unarchive SKUs</button>
						<div class="separator-h"></div>
						<button ion-button color="dark" small clear no-margin block class="bt-dropdown__btn button-drop">Delete SKUs</button>
					</div>
				</div>

				<div class="filters__actions">
					<div class="bt-dropdown" [class.open]="filterOptions.add.open">
						<!-- .... On click of this button, add class "open" to the parent div "bt-dropdown" .... -->
						<!-- .... just adding the class will show the dropdown .... -->
						<button (click)="toggleDrop('add')" ion-button color="dark" small outline no-margin class="bt-dropdown__btn button-drop">
							<span class="plusicon"></span> Add <ion-icon name="ios-arrow-down" class="hidden-xs icon-small"></ion-icon>
						</button>
						<div class="bt-dropdown__dd">
							<button ion-button color="dark" small clear no-margin block class="bt-dropdown__btn button-drop">Add a Product</button>
							<button ion-button color="dark" small clear no-margin block class="bt-dropdown__btn button-drop">Add a Bundle</button>
						</div>
					</div>
					<div class="bt-dropdown" [class.open]="filterOptions.bulk.open">
						<!-- .... On click of this button, add class "open" to the parent div "bt-dropdown" .... -->
						<!-- .... just adding the class will show the dropdown .... -->
						<button (click)="toggleDrop('bulk')" ion-button color="dark" small outline no-margin class="bt-dropdown__btn button-drop">
							<span class="plusicon"></span> Bulk <ion-icon name="ios-arrow-down" class="hidden-xs icon-small"></ion-icon>
						</button>
						<div class="bt-dropdown__dd">
							<button ion-button color="dark" small clear no-margin block class="bt-dropdown__btn button-drop">Bulk Add Products</button>
							<button ion-button color="dark" small clear no-margin block class="bt-dropdown__btn button-drop">Bulk Update Product Info</button>
							<button ion-button color="dark" small clear no-margin block class="bt-dropdown__btn button-drop">Bulk Stock Reset</button>
							<button ion-button color="dark" small clear no-margin block class="bt-dropdown__btn button-drop">Bulk LSP Reset</button>
							<button ion-button color="dark" small clear no-margin block class="bt-dropdown__btn button-drop">Bulk Assign Tax Rule</button>
							<button ion-button color="dark" small clear no-margin block class="bt-dropdown__btn button-drop">Bulk Set Channel Stock</button>
							<button ion-button color="dark" small clear no-margin block class="bt-dropdown__btn button-drop">Bulk Add Bundles</button>
							<button ion-button color="dark" small clear no-margin block class="bt-dropdown__btn button-drop">Bulk Add Sku Aliases</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="filters flex bottom">
			<!-- .... toggle class "open" here ... -->
			<!-- .... toggle this one -->
			<div [ngClass]="{'collapsed': hideFilter}" class="filters__wrap flex">
				<div class="filters__search flex">
					<div class="bt-dropdown" [class.open]="filterOptions.search.open" [class.filtered]="filterOptions.search.filtered">
						<!-- .... On click of this button, add class "open" to the parent div "bt-dropdown" .... -->
						<!-- .... just adding the class will show the dropdown .... -->
						<!-- .... if any of the elements are selected then add class "filtered" to parent div "bt-dropdown" .... -->
						<button ion-button color="dark" outline no-margin class="bt-dropdown__btn button-drop btn-search" (click)="toggleDrop('search')">
							<ion-icon name="ios-search"></ion-icon> SKU/Alias <ion-icon name="ios-arrow-down"></ion-icon>
						</button>
						<div class="bt-dropdown__dd">
							<button ion-button color="dark" (click)="changeSearchField(field.slug)"  clear no-margin block class="bt-dropdown__btn button-drop">SKU</button>
							<button ion-button color="dark" (click)="changeSearchField(field.slug)"  clear no-margin block class="bt-dropdown__btn button-drop">Product Name</button>
						</div>
					</div>
					<input [(ngModel)]="filterOptions.search.value" (keyup)="searchItem($event)" type="text" class="form-control" placeholder="Search (Min 3 chars)" padding-left>
				</div>

				<div class="bt-dropdown" [class.open]="filterOptions.warehouse.open">
					<!-- .... On click of this button, add class "open" to the parent div "bt-dropdown" .... -->
					<!-- .... just adding the class will show the dropdown .... -->
					<button (click)="toggleDrop('warehouse')" ion-button color="dark" outline no-margin class="bt-dropdown__btn button-drop">
						<span class="plusicon visible-xs-inline-block"></span> Warehouses <ion-icon name="ios-arrow-down" class="hidden-xs icon-small"></ion-icon>
					</button>
					<div class="bt-dropdown__dd">
						<button ion-button color="dark"  clear no-margin block class="bt-dropdown__btn button-drop">All Warehouses</button>
					</div>
				</div>

				<div class="bt-dropdown" [class.open]="filterOptions.sort.open" [class.filtered]="filterOptions.sort.filtered">
					<!-- .... On click of this button, add class "open" to the parent div "bt-dropdown" .... -->
					<!-- .... just adding the class will show the dropdown .... -->
					<button (click)="toggleDrop('sort')" ion-button color="dark" outline no-margin class="bt-dropdown__btn button-drop">
						<span class="plusicon visible-xs-inline-block"></span> Sort by <span [hidden]="!filterOptions.sort.selectedname">({{filterOptions.sort.selectedname}})</span><ion-icon name="ios-arrow-down" class="hidden-xs icon-small"></ion-icon>
					</button>
					<div class="bt-dropdown__dd">
						<ion-list radio-group [(ngModel)]="filterOptions.sort.selected" >
							<ion-item *ngFor="let item of filterOptions.sort.options">
								<ion-label no-padding>{{item.name}}</ion-label>
								<ion-radio color="green" no-padding value="{{item.slug}}"></ion-radio>
							</ion-item>
						</ion-list>
					</div>
				</div>

				<div class="bt-dropdown" [class.open]="filterOptions.quantity.open" [class.filtered]="filterOptions.quantity.filtered">
					<!-- .... On click of this button, add class "open" to the parent div "bt-dropdown" .... -->
					<!-- .... just adding the class will show the dropdown .... -->
					<button (click)="toggleDrop('quantity')" ion-button color="dark" outline no-margin class="bt-dropdown__btn button-drop">
						<span class="plusicon visible-xs-inline-block"></span> Sellable Qty <ion-icon name="ios-arrow-down" class="hidden-xs icon-small"></ion-icon>
					</button>
					<div class="bt-dropdown__dd">
						<ion-list radio-group [(ngModel)]="filterOptions.quantity.selected" >
							<ion-item *ngFor="let item of filterOptions.quantity.options">
								<ion-label no-padding>{{item.name}}</ion-label>
								<ion-radio color="green" no-padding value="{{item.slug}}"></ion-radio>
							</ion-item>
						</ion-list>
					</div>
				</div>

				<div class="bt-dropdown" [class.open]="filterOptions.price.open">
					<button (click)="toggleDrop('price')" ion-button color="dark" outline no-margin class="bt-dropdown__btn button-drop">
						<span class="plusicon visible-xs-inline-block"></span> Price <ion-icon name="ios-arrow-down" class="hidden-xs icon-small"></ion-icon>
					</button>
					<div class="bt-dropdown__dd range-dd">
						<ion-item>
							<!-- .... this range slider stops working when this is added -> dualKnobs="true" .... -->
							<!-- .... please check as it needs to have dual knobs - for max and min .... -->
							<ion-range dualKnobs="true" [(ngModel)]="priceSlider" min="1000" max="2000" pin="true">
								<!-- <ion-label range-left>1000</ion-label>
								<ion-label range-right>2000</ion-label> -->
							</ion-range>
						</ion-item>

						<!-- <div> -->
							<ion-list class="flex filter-boxes inline" padding-horizontal>
								<ion-item class="has-rupee-symbol">
									<ion-label stacked>Min</ion-label>
									<ion-input type="number" min="0"></ion-input>
								</ion-item>
								<ion-item class="has-rupee-symbol">
									<ion-label stacked>Max</ion-label>
									<ion-input type="number"></ion-input>
								</ion-item>
							</ion-list>
						<!-- </div> -->
					</div>
				</div>

				<button ion-button class="btn-apply" clear no-margin>Apply</button>
				<button (click)="resetFilters()" ion-button color="secondary" no-margin class="btn-reset" clear><ion-icon name="md-refresh" class="hidden-xs"></ion-icon><span class="visible-xs">Reset</span></button>
			</div>
		</div>

		<div class="tabular">
			<div class="tabular__header flex hidden-xs">
				<div class="tabular__cell cell-1 t-check">
					<!-- <ion-item no-padding>
						<ion-checkbox color="dark" no-padding></ion-checkbox>
					</ion-item> -->
				</div>
				<div class="tabular__cell cell-9 t-product">SKU/Product Title/Family</div>
				<div class="tabular__cell cell-6 t-alias">Alias(es)</div>
				<div class="tabular__cell cell-5 t-sell">Sellable</div>
				<div class="tabular__cell cell-2 t-ship">To Ship</div>
				<div class="tabular__cell cell-4 t-channel">Channels</div>
				<div class="tabular__cell cell-3 t-hsn">HSN Code</div>
			</div>

			<!-- .... the loader .... -->
			<div class="tabular__row flex has-anim-loader" [hidden]="productList.length || priceListLoading == false" *ngFor="let dummy of dummyProducts">
				<div class="masked masked--prices">
					<div class="masked__bg">
						<div class="masked__elements">
							<div class="masked__elem masked--1"></div>
							<div class="masked__elem masked--2"></div>
							<div class="masked__elem masked--3"></div>
							<div class="masked__elem masked--4"></div>
							<div class="masked__elem masked--5"></div>
							<div class="masked__elem masked--6"></div>
							<div class="masked__elem masked--7"></div>
							<div class="masked__elem masked--8"></div>
							<div class="masked__elem masked--9"></div>
							<div class="masked__elem masked--10"></div>
							<div class="masked__elem masked--11"></div>
							<div class="masked__elem masked--12"></div>
							<div class="masked__elem masked--13"></div>
							<div class="masked__elem masked--14"></div>
							<div class="masked__elem masked--15"></div>
							<div class="masked__elem masked--16"></div>
						</div>
					</div>
				</div>
			</div>

			<!-- .... add class "violated" to this tabular__row if there's a violation here .... -->
			<!-- .... add class "open" when tapped or clicked .... -->
			<div class="tabular__row flex" *ngIf="!priceListLoading && !productList.length"  style="justify-content: center;">
				<strong>No records found</strong>
			</div>


      		<div class="tabular__row flex" (mouseleave)="itemMouseOut(item)" (mouseover)="itemtMouseOver(item)" [class.open]="item.open" *ngFor="let item of productList | paginate: paginationConfig">

				<div class="tabular-mob-header">
					<div class="header-secondary replace-header">
						<ul class="nav sku-menu">
							<li (click)="goBack()" class="visible-xs sku-menu__hb"> <ion-icon name="ios-arrow-back"></ion-icon></li>
							<li class="sku-menu__title"><h2>Product Details</h2></li>
						</ul>
					</div>
				</div>
				<div class="tabular__cell cell-1 hidden-xs t-check">
					<ion-item no-padding>
						<ion-checkbox color="dark" no-padding></ion-checkbox>
					</ion-item>
				</div>
				<div class="tabular__cell cell-9 flex t-product">
					<div class="img-wrap" margin-right style="background-image: url()">
						<img src="{{ item.image_path }}" width="110" alt="">
					</div>
					<div class="text-wrap">
            <span class="sku">
              <span ngIf="item.is_bundle==1" class="custom_code_yellow">B</span>
              <a (ngClass)="{'bundle_sku' : sku.is_bundle==1,'custom_code_black' : sku.is_bundle==0}" href="/skus/view/{{item.id}}">{{item.sku_code}}</a>
            </span>
						<img ngIf="item.is_disabled===0" src="{{ envVariables.assetsFolder }}img/Active.png" class="status-dot">
						<p><a target="blank" href="#" class="prod-title">{{ item.readable_name }}e</a></p>
						<p class="prod-family">Family: <span>{{ item.product_family }}</span></p>
						<a (click)="showModal()" class="prod-action">+ Add to a Product Family</a>
						<a (click)="showModal()" class="prod-action">+ Map a Listing (add Alias)</a>
					</div>
				</div>
				<div class="tabular__cell cell-6 t-alias">
					<!-- .... show this span only if there's a violation .... -->
					<!-- .... also add a class to the parent 'tabular__row' instructions at the div .... -->
					<!--<span class="violation-icon">
						<img src="../assets/img/viol.png" alt="">
					</span>-->
					<div class="visible-xs">
						<strong class="mobile-title">Alias(es)</strong>
					</div>
					<ul class="sku-code">
            <li *ngFor="let alias of (item.sku_aliases ? item.sku_aliases.slice(0,5): [])">
              <span *ngIf="item.sku_code != alias[0]">
                      <ion-badge [ngClass]="{'hidden' : alias[1] == 'default'}" color="default" text-uppercase>{{ alias[1] }}</ion-badge> {{ alias[0] }}
              </span>
          </ul>
				</div>
				<div class="tabular__cell cell-5 t-sellable">
					<div class="visible-xs">
						<strong class="mobile-title">Sellable</strong>
					</div>
					<div class="sellable-summary">
						<strong class="big text-success">{{ item.in_stock }}</strong>
						<div class="tooltip" *ngIf="item.warehouse_is_low_stock == 1">
							<ion-icon name="information-circle" class="text-warning"></ion-icon>
							<div class="tooltiptext warning">
								Low Stock in 1 or more Warehouses
							</div>
						</div>
						<div class="tooltip" *ngIf="item.warehouse_stock_out == 1">
							<ion-icon name="information-circle" class="text-danger"></ion-icon>
							<div class="tooltiptext danger">
								Out of Stock in 1 or more Warehouses
							</div>
						</div>
					</div>
					<p class="text-info">Seller Stocked : {{ item.seller_in_stock }}</p>
					<p class="text-grey">MP Stocked : {{ item.marketplace_in_stock }}</p>
				</div>
				<div class="tabular__cell cell-2 t-ship">
					<div class="visible-xs">
						<strong class="mobile-title">To Ship</strong>
					</div>
					<strong class="big">{{ item.to_ship }}</strong>
				</div>
				<div class="tabular__cell cell-4 t-channel">
					<div class="visible-xs">
						<strong class="mobile-title">Channels</strong>
					</div>
					<ul>



            <!--<li *ngFor="let channel of companyActiveChannels">
              <img *ngIf="!item.listings[channel.Channel.id]" [ngClass]="{'disabled': !item.listings[channel.Channel.id] }" src="{{channel.ChannelType.favicon_path != null ? envVariables.assetsFolder  + channel.ChannelType.favicon_path : envVariables.assetsFolder  + '/img/icons/icon_offline_store.png'}}" alt="" class="channelFaviconImageRed">
              <a target="_blank" *ngIf="item.listings[channel.Channel.id]" href="{{item.listings[channel.Channel.id].url_on_channel}}">
                <img src="{{ envVariables.assetsFolder }}{{ channel.ChannelType.favicon_path }}" [ngClass]="(item.listings[channel.Channel.id].quantity_on_channel <= 0) ? 'channelFaviconImageRed':'channelFaviconImageGreen'">
              </a>
            </li>-->

            <li *ngFor="let channel of companyActiveChannels" class="tooltip">
                <img *ngIf="!item.listings[channel.Channel.id]" [ngClass]="{'disabled': !item.listings[channel.Channel.id] }" src="{{channel.ChannelType.favicon_path != null ? envVariables.assetsFolder  + channel.ChannelType.favicon_path : envVariables.assetsFolder  + '/img/icons/icon_offline_store.png'}}" alt="" class="channelFaviconImageRed">
              <a target="_blank" *ngIf="item.listings[channel.Channel.id]" href="{{item.listings[channel.Channel.id].url_on_channel}}">
                <img src="{{ envVariables.assetsFolder }}{{ channel.ChannelType.favicon_path }}" [ngClass]="(item.listings[channel.Channel.id].quantity_on_channel <= 0) ? 'channelFaviconImageRed':'channelFaviconImageGreen'">
			                	<div class="tooltiptext " [ngClass]="(item.listings[channel.Channel.id].quantity_on_channel <= 0) ? 'not-active':'active'">
                          {{ item.listings[channel.Channel.id].channel_title != null ? item.listings[channel.Channel.id].channel_title : 'Offline Store' }} ({{ item.listings[channel.Channel.id].username }})<br>
                          <span *ngIf="(item.listings[channel.Channel.id].status_on_channel === 1 || item.listings[channel.Channel.id].quantity_on_channel > 0)">Status: <strong>  Active & In Stock</strong><br></span><span *ngIf="(item.listings[channel.Channel.id].status_on_channel === 0 && item.listings[channel.Channel.id].quantity_on_channel === 0)">Status: <strong> Inactive/Out of Stock </strong><br></span>
                          <span *ngIf="item.listings[channel.Channel.id].price_on_channel">Price: <strong> {{item.listings[channel.Channel.id].price_on_channel }} </strong><br></span>
                          <span> Stock: <strong>{{item.listings[channel.Channel.id].quantity_on_channel | number }}</strong><br></span>
                          <span *ngIf="(item.listings[channel.Channel.id].item_ref && item.sku_aliases.length <=1)">FSN: <strong> {{item.listings[channel.Channel.id].item_ref}} </strong><br></span>
                          <span *ngIf="(item.listings[channel.Channel.id].item_ref && item.sku_aliases.length > 1)">FSN: <strong> multiple ({{item.sku_aliases.length}} aliases) </strong><br></span>
                          <span *ngIf="(item.listings[channel.Channel.id].sku_code_on_channel && item.sku_aliases.length <=1)">SKU: <strong> {{item.listings[channel.Channel.id].sku_code_on_channel}} <br></strong></span>
                          <span *ngIf="(item.listings[channel.Channel.id].sku_code_on_channel && item.sku_aliases.length >1)">SKU: <strong> multiple ({{item.sku_aliases.length}} aliases) </strong><br></span>
                          <span *ngIf="(item.listings[channel.Channel.id].title_on_channel && item.sku_aliases.length <=1)">Title: <strong> {{item.listings[channel.Channel.id].title_on_channel}} </strong></span>
                          <span *ngIf="(item.listings[channel.Channel.id].title_on_channel && item.sku_aliases.length >1)">Title: <strong> multiple ({{item.sku_aliases.length}} aliases) </strong></span>
			                	</div>
			                </a>
			            </li>
					</ul>
				</div>
				<div class="tabular__cell cell-3 t-hsn">
					<div class="visible-xs">
						<strong class="mobile-title">HSN code</strong>
					</div>

					<button ion-button color="" icon-only small outline (click)="toggleHSNDisplay()">
						<ion-icon name="create"></ion-icon>
					</button>

					<div class="flex" [ngClass]="{'hidden': hideHSN}">
						<ion-item>
							<ion-input type="text" value="" placeholder="Edit HSN"></ion-input>
						</ion-item>
						<button ion-button color="danger" icon-only small clear>
							<ion-icon name="checkmark"></ion-icon>
						</button>
					</div>
				</div>

				<div class="tabbed tabular__moreinfo" padding-horizontal>
					<ion-segment [(ngModel)]="selectedDetail">
						<ion-segment-button value="wstock">
							Warehouse Stock
						</ion-segment-button>
						<ion-segment-button value="cstock">
							Channel Stock
						</ion-segment-button>
						<ion-segment-button value="price">
							Channel Price
						</ion-segment-button>
					</ion-segment>

					<div [ngSwitch]="selectedDetail" class="tabbed__panels">
						<ion-list *ngSwitchCase="'wstock'" padding no-margin>
							Warehouse Stock Details
						</ion-list>
						<ion-list *ngSwitchCase="'cstock'" padding no-margin>
							Channel Stock Details
						</ion-list>
						<ion-list *ngSwitchCase="'price'" padding no-margin>
							Channel Price Details
						</ion-list>
					</div>
				</div>
			</div>

			<!--add pagination here-->
			<pagination-controls (pageChange)="pageChanged($event)" autoHide="true"></pagination-controls>
		</div>

	</div>

</ion-content>
